.ListBox {
  position: relative;
}

.options{
  background: var(--listbox-bg);
  position: absolute;
  z-index: var(--select-z-index);
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--listbox-bg);
  outline: none;
}

.item{
  padding: 8px 16px;
  text-decoration: none;
  list-style: none;
  transition: transform .3s ease-in-out;
  cursor: pointer;
}

.active, .selected{
  transition: transform .1s ease-in-out;
  transform: translateX(7px);
}

.trigger {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.label {
  margin-right: 6px;
}

.optionBottomLeft {
  top: 100%;
  right: 0;
}

.optionBottomRight {
  top: 100%;
}

.optionTopLeft {
  bottom: 100%;
  right: 0;
}

.optionTopRight {
  bottom: 100%;
}
