.LIST {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .userInfo {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .username {
    margin-left: 16px;
  }

  .title {
    margin-top: 8px;
  }

  .image {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
    margin: 16px 0;
  }

  .viewsWrapper {
    display: flex;
    align-items: center;
  }

  .views {
    margin-right: 5px;
  }

  .textBlock {
    margin: 16px 0;
    max-height: 190px;
    overflow-y: hidden;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.CELLS {
  width: 230px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  .imageWrapper {
    position: relative;
    width: 200px;
    height: 200px;
  }

  .image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .date {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }

  .articleInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
  }

  .tags {
    width: 120px;

    p {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .viewsWrapper {
    display: flex;
    align-items: center;
  }

  .views {
    margin-right: 5px;
  }

  .title {
    width: 200px;
    margin-top: 8px;
    
    h3 {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &:hover {
    opacity: .95;
    transform: scale(1.01);

    .date {
      display: block;
    }
  }
}