.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.35s ease-out;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.collapseBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.items {
  margin-left: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.item {
  gap: 10px;
  display: flex;
  align-items: center;
}

.link {
  gap: 10px;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.icon {
  fill: var(--secondary-color);
  
  path {
    stroke: var(--secondary-color);
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .link {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    width: 0;
  }
}