.Title {
  font: var(--font-l);
  color: var(--primary-color);
}

.Text {
  font: var(--font-m);
  color: var(--secondary-color);
}

.error {
  .Title {
    color: var(--error-color-light);
  }
  
  .Text {
    color: var(--error-color);
  }
}

.secondary {
  .Title {
    color: var(--secondary-color);
  }
  
  .Text {
    color: var(--secondary-color);
  }
}

.left {
  text-align: left;
}


.right {
  text-align: right;
}


.center {
  text-align: center;
}

.size_xs {
  .Title {
    font: var(--font-m)
  }

  .Text {
    font: var(--font-xs)
  }
}

.size_m {
  .Title {
    font: var(--font-l);
  }

  .Text {
    font: var(--font-m);
  }
}

.size_l {
  .Title {
    font: var(--font-xl);
  }

  .Text {
    font: var(--font-l);
  }
}