.app_dark_theme {
  --bg-color: #303030;
  --secondary-bg-color: #272727;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #00BA78;
  --secondary-color: #D6D6D6;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #0449e0;
}
