.app.dark {
  --bg-color: #0c3c6c;
  --inverted-bg-color: #bff3fe;
  --primary-color: #dfe1d3;
  --secondary-color: #2e71b4;
  --inverted-primary-color: #288ffd;
  --inverted-secondary-color: #045cb5;
}
