:root {
  --bg-color: #e8e8ea;
  --secondary-bg-color: #ADA9BB;
  --inverted-bg-color: #303030;
  --primary-color: #0232c2;
  --secondary-color: #a00098;
  --inverted-primary-color: #00BA78;
  --inverted-secondary-color: #D6D6D6;
  
  /* Skeleton */
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  /* Code */
  --code-bg: #fff;

  /* Card */
  --card-bg: #e0e0e0;

  /* ListBox */
  --listbox-bg: #e0e0e0;

  /* Menu */
  --menu-bg: #e0e0e0;
}