.navbar {
  display: flex;
  align-items: center;
  background-color: var(--secondary-bg-color);
  width: 100%;
  height: var(--navbar-height);
  padding: 20px;
  justify-content: space-between;
}

.navLeft {
  display: flex;
  align-items: center;
}

.appName{
  width: var(--sidebar-width)
}